<h1>Payment Results</h1>

<dl>
  <dt>APR</dt>
  <dd><%=@formatted_apr%></dd>

  <dt>Number of years</dt>
  <dd><%=@user_years.to_i%></dd>

  <dt>Principal</dt>
  <dd><%=number_to_currency(@user_principal)%></dd>

  <dt>Payment</dt>
  <dd><%=number_to_currency(@monthly_pay)%></dd>
</dl>

<a href="/payment/new">Calculate another payment</a>
