<form action="/square_root/results">
  <label for="sqrt_num">Enter a number</label>
  <input id="sqrt_num" type="text" placeholder="What number do you want to square root?" name="user_sqrt_num"><br>
  <button>Calculate a square root</button>
</form>
